
@import "utility.css";

@font-face {
    font-family: WolfMoon;
    src: url("font/WolfMoon.otf");
}

body {
    background: radial-gradient(#9d5900, #3d2200);
    color: #ffbb89;
    font-family: WolfMoon;
}

h1 {
    font-family: WolfMoon;
    font-size: 5rem;
    color: #ff6d00;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.game-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, auto);
    grid-gap: 20px;

    padding-bottom: 4rem;
}

.game-data {
    font-size: 3rem;
    font-family: cursive;

    /* To expand this element till the column */
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    padding-left: 50px;
    padding-right: 50px;
}

.card {
    height: 175px;
    width: 125px;
    border-radius: 8px;

    position: relative;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* To make the front end of the card hidden initially */
    backface-visibility: hidden;

    border-radius: 8px;

    transition: transform 500ms ease-in-out;
}

.card-back:hover {
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.4);
    /* border: 2px solid white; */
}

.card-back {
    background-image: url("card-back.png");
    transform: rotateY(0);
}

.card-front {
    /* To make the front end of the card hidden initially */
    transform: rotateY(180deg);
    
    font-size: 7rem;
    color: DarkRed;
    border: 6px solid DarkRed;

    background-color: Thistle;
}

/* Card flipping effect */
.card.visible .card-back {
    transform: rotateY(180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

/* Card matched dancing animation */
.card.matched .fas {
    animation: dance 1s ease-in-out infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

/* Overlay items */
.overlay-content {
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.85);
    display: none;

    position: fixed;
    left: 0;
    top: 0;

    font-size: 8rem;
    color: #ff6d00;

    z-index: 1000;
}

.overlay-content.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-content-small {
    padding-top: 5rem;
    font-size: 2rem;
}

/* Smaller screen devices, responsive UI */

@media (max-width: 1200px) {

    .game-container {
        grid-template-columns: repeat(4, auto);
    }
    
}

@media (max-width: 600px) {

    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    
    .game-data {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}